.leftbar {
    width: 78px;
    height: 896px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1.5px solid #c2bdbd;
}

.menus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    width: 100%;
    align-items: center;
}

.top-menu {
    display: flex;
    flex-direction: column;

}

.bottom-menu {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.menu-icon{
    width: 42px;
}


.menus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 38px;
    height: 160px;
    left: 20px;
    top: 112px;
}

.logo-icon {
    width: 42px;
    height: 44px;
    opacity: 1;
    position: absolute;
    top: 36px;
    left: 17px;



}








.dash-icon path {
  stroke: #000000 !important;
}






.menu-item {
  padding: 14px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease;
}

.menu-item:hover {
  background: #f0f0f016; /* Light hover */
}

.menu-item.active {
  background: #483AA0;   /* Your highlight color */
  border-radius: 12px;
}
