.toast-container {
 position: fixed;
  top: 20px;
  left: 20px;      /* changed from right: 20px */
  z-index: 2000;
  animation: slideIn 0.3s ease-out;
}

.toast-box {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgb(26, 115, 232);
  border: 1px solid rgb(26, 115, 232);
  padding: 12px 18px;
  border-radius: 10px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
}

.toast-icon {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

.toast-text {
  font-size: 15px;
  color: #000000;
  font-weight: 600;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
