
.create-container {
  width: 407px;
  padding: 24px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.05);
  font-family: "Inter", sans-serif;

    position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
}

.create-tab .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.create-tab .header h1 {
  font-size: 20px;
  font-weight: 600;
  color: #222;
  margin: 0;
}

.create-tab .header img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 0.2s ease;
}

.create-tab .header img:hover {
  opacity: 0.7;
  transform: scale(1.05);
}


.create-project-container {
  width: 384px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  font-family: "Inter", sans-serif;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
margin-bottom: 7px;
width: 157px;
height: 14px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 120%;
color: #1E1F21;
flex: none;
order: 0;
flex-grow: 0;

}

input,
select {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #dedede;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}

input::placeholder {
  color: #a9a9a9;
}

/* Dropdown */
.select-box {
  position: relative;
  width: 107%;
}

.select-box select {
  appearance: none;
  background: transparent;
  cursor: pointer;
}

.select-box .arrow {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  color: #555;
}

/* Budget box */
.budget-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.currency {
  padding: 12px 16px;
  border: 1px solid #dedede;
  border-radius: 6px;
  background: #f5f5f5;
}

/* Date box */
.date-box {
  display: flex;
  align-items: center;
  border: 1px solid #dedede;
  border-radius: 6px;
  padding-right: 12px;
}

.date-box input {
  border: none;
  flex: 1;
  padding: 12px 14px;
}

.date-box input:focus {
  outline: none;
}

.calendar {
  color: #606060;
  font-size: 18px;
  cursor: pointer;
}
